*{
    box-sizing: border-box;
    
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px 30px;
    font-size: 17px;
}

.container{
    background-color: aliceblue;
    padding: 5px 15px 10px 20px 5px;
    border: 1px solid lightcyan;
    border-radius: 5px;
}

input,select,textarea{
    padding: 6px;
    width: 40%;
    border: 1px lightcyan;
    border-radius: 7px;
    margin: 6px;
}

.btn
{
    color:white;
    background-color: turquoise;
    padding: 10px 12px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: cadetblue;
}

